# See https://atom.io/docs/latest/creating-a-package#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Collaborate'
      'submenu': [
        { 'label': 'Host', 'command': 'collaborative-edit:Host' }
        { 'label': 'Connect', 'command': 'collaborative-edit:Connect'}
        { 'label': 'Disconnect', 'command': 'collaborative-edit:Disconnect'}
      ]
    ]
  }
]
